---
interface Props {
    title: string;
}

const { title } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{title}</title>
</head>
<body>
<h1>{title}</h1>
</body>
</html>
<style>
    :root {
      background-size: cover;
      background-position: bottom right;
      background-image:
          linear-gradient(
              to right bottom,
              rgba(126, 213, 111, 0.8),
              rgba(40, 180, 133, 0.8)
          ),
          url("/img/slider/slider-1.jpg");
    }
</style>